---
import { Icon } from 'astro-icon/components';
import type { Item } from '~/types';

export interface Props {
  items?: Array<Item>;
  defaultIcon?: string;
  classes?: Record<string, string>;
}

const { items = [], classes = {}, defaultIcon } = Astro.props as Props;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary dark:text-slate-200 border-primary dark:border-blue-700',
} = classes;
---

{
  items && items.length && (
    <div class:list={containerClass}>
      {items.map(({ title, description, icon, classes: itemClasses = {} }, index = 0) => (
        <div class:list={panelClass}>
          <div class:list='flex flex-col items-center mr-4 rtl:mr-0 rtl:ml-4'>
            <div>
              <div class:list='flex items-center justify-center'>
                {(icon || defaultIcon) && <Icon name={icon || defaultIcon} class:list={defaultIconClass} />}
              </div>
            </div>
            {index !== items.length - 1 && <div class:list='w-px h-full bg-black/10 dark:bg-slate-400/50' />}
          </div>
          <div class:list={`pt-1 ${index !== items.length - 1 ? 'pb-8' : ''}`}>
            {title && <p class:list={titleClass} set:html={title} />}
            {description && <p class:list={descriptionClass} set:html={description} />}
          </div>
        </div>
      ))}
    </div>
  )
}
